<!-- aboutus.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - TriQuadVroom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="site-header">
        <h1>TriQuadVroom</h1>
        <nav class="header-nav">
            <ul class="header-nav-menu">
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="content">
            <div class="box">
            <h2>About Us</h2>
            <p>
                Welcome to TriQuadVroom! We are dedicated to transforming urban transportation with innovative ride-sharing solutions. Our mission is to offer a seamless, efficient, and enjoyable travel experience.
            </p>
            <p>
                At TriQuadVroom, we leverage advanced technology to optimize routes, enhance safety, and provide personalized ride options. Whether you're commuting daily or exploring new places, we strive to make every journey smooth and enjoyable.
            </p>
            <p>
                Join us as we redefine urban mobility and make your travel experience exceptional. Thank you for choosing TriQuadVroom!
            </p>
        </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-links">
                <h4>Company</h4>
                <a href="/aboutus">About Us</a>
                <a href="/contactus">Contact Us</a>
            </div>
            <div class="footer-links">
                <h4>Help</h4>
                <a href="/help_and_support">Help and Support</a>
                <a href="/affiliate">Affiliate</a>
            </div>
            <div class="footer-links">
                <h4>Legal</h4>
                <a href="/terms">Terms</a>
                <a href="/privacy_policy">Privacy Policy</a>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2024 TriQuadVroom, Inc. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
